@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-playfair: "Playfair Display", serif;
}

@layer base{
  html, body, #root {
    @apply h-screen antialiased
  }
  textarea, input {
    @apply outline-none
  }
}

html, body, #root {
  font-family: var(--font-inter);
}